.label {
    -fx-font-size: 14px;
    -fx-font-family: Times New Roman;
}

.button {
    -fx-background-color: rgba(0,0,0,0.08),
                          linear-gradient(#9a9a9a, #909090),
                          linear-gradient(white 0%, #f3f3f3 50%, #ececec 51%, #f2f2f2 100%);
    -fx-background-insets: 0 0 -1 0,0,1;
    -fx-background-radius: 5,5,4;
    -fx-padding: 3 10 3 10;
    -fx-text-fill: #242d35;
    -fx-font-size: 14px;
    -fx-pref-height: 26px;
    -fx-pref-width: 90px;
}

.tab-pane {
    -fx-tab-min-width:90px;
    -fx-open-tab-animation: grow;
    -fx-close-tab-animation: grow;
}

.tab .tab-label {
    -fx-alignment: CENTER;
    -fx-text-fill: #333333;
    -fx-font-size: 12px;
    -fx-font-weight: bold;
}

.tab:selected .tab-label {
    -fx-alignment: CENTER;
    -fx-text-fill: #96b946;
}

.list-cell:empty {
    -fx-opacity: 0;
}

.dialog-pane {
    -fx-padding: 0 50 0 50;
    -fx-spacing: 10;
    -fx-pref-width: 400px;
}

#hbox-header {
    -fx-alignment: center;
    -fx-padding: 5;
    -fx-spacing: 2;
}

#header-label {
    -fx-font-size: 24px;
    -fx-font-family: Times New Roman;
    -fx-font-weight: bold;
}

#btnAddFXML {
    -fx-background-color: rgba(0,0,0,0.08),
                              linear-gradient(#9a9a9a, #909090),
                              linear-gradient(white 0%, #f3f3f3 50%, #ececec 51%, #f2f2f2 100%);
    -fx-background-insets: 0 0 -1 0,0,1;
    -fx-background-radius: 5,5,4;
    -fx-padding: 3 10 3 10;
    -fx-text-fill: #242d35;
    -fx-font-size: 14px;
    -fx-pref-height: 26px;
    -fx-pref-width: 200px;
}

#btnAdd{
    -fx-background-color: rgba(0,0,0,0.08),
                                  linear-gradient(#9a9a9a, #909090),
                                  linear-gradient(white 0%, #f3f3f3 50%, #ececec 51%, #f2f2f2 100%);
        -fx-background-insets: 0 0 -1 0,0,1;
        -fx-background-radius: 5,5,4;
        -fx-padding: 3 10 3 10;
        -fx-text-fill: #242d35;
        -fx-font-size: 14px;
        -fx-pref-height: 26px;
        -fx-pref-width: 170px;
}

#button-section {
    -fx-spacing: 10px;
}

#customerVBox {
    -fx-padding: 3 10 3 10;
}

#calculationWindow {
    -fx-padding : 5 10 5 10;
    -fx-spacing : 5px;
}

#calculationVBox {
    -fx-padding : 10;
}

#installmentListView {
    -fx-background-color: #f2f2f2;
    -fx-text-fill: black;
}

#viewInstallment {
    -fx-padding: 0 10 0 10;
    -fx-spacing: 10;
    -fx-pref-width: 400px;
}